@page "/led"
@using System.Text.Json
@inject IJSRuntime JSRuntime

<div class="container-fluid">
    LED page
</div>

@code {

    private string _divObjective = string.Empty;
    private string _divPlatform = string.Empty;
    private string _divVersion = string.Empty;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            var jsRequest = new JSRequest();
            jsRequest.Url = "/info";
            jsRequest.JSInvokeId = "HomeCallback";
            var dotNetReference = DotNetObjectReference.Create(this);
            JSRuntime.InvokeVoidAsync("MessageRouter.Get", jsRequest.ToJson(), dotNetReference);
        }
    }

    [JSInvokable("HomeCallback")]
    public void MessageRouterResponse(string respose)
    {
        var options = new JsonSerializerOptions();
        options.ReadCommentHandling = JsonCommentHandling.Skip;
        options.AllowTrailingCommas = true;
        var data = JsonSerializer.Deserialize<Dictionary<string, string>>(respose, options);

        _divObjective = data["divObjective"];
        _divPlatform = data["divPlatform"];
        _divVersion = data["divVersion"];

        StateHasChanged();
    }

}