body{
    margin: 0;
    background-color: #925c4e;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    display: flex;
}

.container_content{
    background-color: #f7ead4;
    margin: 0;
    color:#643e34;
    font-size: 1.1em;
}

.container_content--variant{
    background-color: #faf3e8;
    margin: 0;
}


.test{
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner{
    display: flex;
    flex-wrap: wrap;
}

.banner__title{
    width: 100%;
    color: #f7ead4;
    font-size: 1.5em;
}

h2{
    width: 100%;
    color: #925c4e;
    font-size: 2em;
    margin-bottom: 0.1em;
}

h1{
    width: 100%;
    font-family: 'YoungSerif';
    color: #f7ead4;
    font-size: 4em;
    margin-bottom: 0.1em;
}

h1 img{
    width: 0.75em;
}

.banner__cta a{
    width: 50%;
    border: 0.1em #f7ead4 solid;
    margin: 1em;
}

.banner__cta{
    margin: 0 auto;
    padding: 8em 0em 4em 0em;
}

.button{
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.5em;
    color: #f7ead4;
    text-decoration: none;
}

.button--primary{
    background-color: #f7ead4;
    color: #925c4e;
    font-weight: bold;
}

.footer__links{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 2em;
}

.footer__links a{
    color:#faf3e8;
    text-decoration: none;
}