body{
    margin: 0;
    background-color: #925c4e;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 64rem;
    max-width: calc(100% - 4rem);
    margin: 0 auto;
    display: flex;
}

.container_content{
    background-color: #f7ead4;
    margin: 0;
    color:#643e34;
<<<<<<< HEAD
    font-size: 1.1rem;
=======
    font-size: 1.1em;
>>>>>>> main
}

.container_content--variant{
    background-color: #faf3e8;
    margin: 0;
}


.test{
    padding-top: 100px;
    padding-bottom: 100px;
}

.banner{
    display: flex;
    flex-wrap: wrap;
}

.banner__title{
<<<<<<< HEAD
    width: 100%;
    color: #f7ead4;
    font-size: 1.5rem;
}

h2{
    width: 100%;
    color: #925c4e;
    font-size: 2rem;
    margin-bottom: 0.1rem;
}

=======
    width: 100%;
    color: #f7ead4;
    font-size: 1.5em;
}

h2{
    width: 100%;
    color: #925c4e;
    font-size: 2em;
    margin-bottom: 0.1em;
}

>>>>>>> main
h1{
    width: 100%;
    font-family: 'YoungSerif';
    color: #f7ead4;
<<<<<<< HEAD
    font-size: 4rem;
    margin-bottom: 0.1rem;
=======
    font-size: 4em;
    margin-bottom: 0.1em;
>>>>>>> main
}

h1 img{
    width: 0.75em;
}

.banner__cta a{
    width: 50%;
<<<<<<< HEAD
    border: 0.1rem #f7ead4 solid;
    margin: 1rem;
=======
    border: 0.1em #f7ead4 solid;
    margin: 1em;
>>>>>>> main
}

.banner__cta{
    margin: 0 auto;
<<<<<<< HEAD
    padding: 8rem 0rem 4rem 0rem;
}

.button{
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
=======
    padding: 8em 0em 4em 0em;
}

.button{
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1.5em;
>>>>>>> main
    color: #f7ead4;
    text-decoration: none;
}

.button--primary{
    background-color: #f7ead4;
    color: #925c4e;
    font-weight: bold;
}

.footer__links{
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color:white;
    text-decoration: none;
<<<<<<< HEAD
    padding: 2rem;
=======
    padding: 2em;
>>>>>>> main
}

.footer__links a{
    color:#faf3e8;
    text-decoration: none;
<<<<<<< HEAD
}

.logo{
    transform-origin: 43% 49%;
    transition: transform 3s ease-out;
}
.logo:hover {
    -ms-transform: rotate(1040deg);
    -moz-transform: rotate(1040deg);
    -webkit-transform: rotate(1040deg);
    -o-transform: rotate(1040deg);
    transform: rotate(1040deg);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
    h1{
        width: 100%;
        font-family: 'YoungSerif';
        color: #f7ead4;
        font-size: 1.8rem;
        margin-bottom: 0.1rem;
    }
    .banner__title {
        width: 100%;
        color: #f7ead4;
        font-size: 1rem;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
=======
>>>>>>> main
}