@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="body">
    <div class="container">
        <NavMenu />
        <div class="fan-page">
            @Body
        </div>
    </div>
</div>

