<div class="nav-bar">
    <div class="nav-bar__row">
        <div class="nav-bar__item">
            <NavLink href="/home">Home</NavLink>
        </div>
        <div class="nav-bar__item">
            <NavLink href="/led">LED</NavLink>
        </div>
        <div class="nav-bar__item">
            <NavLink href="/settings">Settings</NavLink>
        </div>
    </div>
</div>